[*]
charset = utf-8
end_of_line = LF

[{.editorconfig,.clangd,.clang-format}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.[ch]]
indent_style = tab
indent_size = 3
insert_final_newline = true
trim_trailing_whitespace = true
